{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the News highlights website </title>
        {% endif %}
    </head>
    <body>
        
            <!-- Top news section  -->
            <h3> General News</h3>
             <ul>
                <ul>
                    {{ macro.displaySourceList(general)}}
                </ul>
            </ul>

           
                <!-- Business news section  -->
                <h3> Business News</h3>
                 <ul>
                    <ul>
                        {{ macro.displaySourceList(business)}}
                    </ul>
                </ul>

            <!-- Sports news section  -->
            <h3> Sports News</h3>
             <ul>
                <ul>
                    {{ macro.displaySourceList(sports)}}
                </ul>
            </ul>
        <!--Health news section  -->
        <h3> Health News</h3>
         <ul>
            <ul>
                {{ macro.displaySourceList(health)}}
            </ul>
    </body>
</html>

